.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    margin-bottom: 160px;

    background-color: lightgray;
    width: 260px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 0 1px 2px black;
}

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .calculator form .keys div input, #display{
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: 1.5px solid black;
    margin: 3px;
    border-radius: 4px;
    box-shadow: 0 1px 2px black;

}

.container .calculator form .keys div input:hover{
    box-shadow: 0 2px 5px black;
}

.calculate:hover{
    box-shadow: 0 2px 5px black;
}

#display{
    width: 230px;
}

#equalsTo{
    width: 110px;
}

.backColor{
    background-color: rgb(252, 194, 252)
}

/* Responsivihet */
@media(max-width: 800px) {
    main div img{
      display: none;
    }
    }