.sources_boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 100px auto;
}

.sources_boxes div{
  background-color: #FFBED8;
  margin-bottom: 50px;
  width: 20%;
  border-radius: 10px;
  text-align: center;
}

.sources_boxes div ul li a:hover{
  color: #FF7BA9;
}

.sources_boxes div ul{
  padding: 0;
}

.sources_boxes div ul li{
  list-style: none;
  margin-top: 10px;
}

main p{
  background-color: #FF7BA9;
  width: 80%;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 70px auto;
}

@media(max-width: 700px) {
    .sources_boxes{
      flex-direction: column;
      align-items: center;
    }
    .sources_boxes div{
      width: 60%;
    }
}