body {
    width: 100vw;
    height: 100vh;
}

main {
    background-color: #FFBED8;
    margin: 40% auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 10px;
    text-align: center;
}

.button {
    background-color: #FF7BA9;
}

a {
    text-decoration: none;
    color: #fff;
}

main i{
  margin: 0px 5px;
}