* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    margin: 10px;
}

.game {
    width: 700px;
    height: 500px;
    background-image: url("https://cdn.pixabay.com/photo/2014/04/03/11/57/valley-312709_1280.png");
    background-size: cover;
    /* background-color: lightgreen; */
    position: relative;
}

.danger-line {
    width: 100%;
    height: 15px;
    background-color: lightpink;
    position: absolute;
    bottom: 0px;
}

.basket {
    width: 100px;
    height: 90px;
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/17/22/basket-152089_1280.png");
    background-size: cover;
    /* background-color: blue; */
    position: absolute;
    bottom: 15px;
    left: calc(50% - 40px);
}

.food {
    width: 50px;
    height: 50px;
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* width: auto;
    max-height: 100%; */
}